
.products{
     text-align: center;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
*{
    margin: 0;
    padding: 0;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: gray;
}
li:hover{
    color: white;
}
input{
    width:60%;
    padding: 15px;
}
.search{
    padding: 25px;
    text-align: center;
}
.box{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    width: 220px;
}
img{
    width: 220px ;
    height:  220px;
}
.box:hover{
    background-color: black;
    color: white;
}
